.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px 16px;
}

.title {
  text-align: center;
  font-size: 48px;
}

.general-button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #ffffff00;
  font-size: 16px;
  text-align: center;
  background: #415a77;
  cursor: pointer;
  transition: 0.4s;
}

.general-button:hover {
  background-color: #1b263b;
  border: 1px solid #415a77;
}

.general-button:active {
  background-color: #e0e1dd;
  color: #1b263b;
}
